%ul
  - @file_system.files.each do |file|
    %li
      = file
      %a(href="/files/#{file}")
        (SHOW)
      - if @user.signed_in?
        %a(href="/files/#{file}/edit")
          (EDIT)
        %form(method="post" action="/files/#{file}/duplicate" class="inline")
          %button(type="submit" name="duplicate")
            DUPLICATE
        %form(method="post" action="/files/#{file}/delete" class="inline")
          %button(type="submit" name="delete")
            DELETE

- if @user.signed_in?
  %a(href="/files/new")
    + NEW
